<section class="overflow-hidden hero-gradient">
  <div class="px-8 pt-32 mx-auto md:px-12 lg:px-24 max-w-7xl relative -mb-16">
    <div class="max-w-2xl text-center mx-auto lg:text-balance mb-10">
      <h1
        class="text-xl/snug leading-tight tracking-tight sm:text-2xl/snug md:text-3xl/snug capitalize lg:text-4xl/snug mt-4 font-medium text-base-900">
        Instant intelligence for your Business
      </h2>
      <p class="text-base leading-normal mt-4 text-base-500 font-medium">
        Talk to your data in natural language to find answers in charts, dashboards reports. No SQL skills required.
      </p>
      <div
        class="flex flex-wrap items-center gap-2 justify-center mx-auto mt-12">
        <a
          href="https://insifi.aubergine.co/login"
          class="flex items-center justify-center transition-all duration-200 focus:ring-2 focus:outline-none text-white bg-accent-600 hover:bg-accent-700 focus:ring-accent-700/50 h-9 px-4 py-2 text-sm font-medium rounded-md">
          Try Demo
        </a>
      </div>
    </div>
    <div class="relative w-full mx-auto max-w-7xl items-center">
      <div class="p-10 rounded-2xl">
        <img
          src="/src/assets/images/dashboard.webp"
          alt="#_"
          width={1200}
          height={700}
          class="relative w-full ring-4 ring-base-50 border border-base-200 lg:rounded-2xl object-cover rounded"
        />
      </div>
    </div>
  </div>
</section>
