<section id="why-insifi">
  <div class="px-8 py-20 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center max-w-2xl mx-auto lg:text-balance">
      <p class="text-sm leading-normal font-bold uppercase text-accent-600">
        Why INSIFI
      </p>
      <h2
        class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4 font-medium text-base-900 lg:text-balance"
      >
        Make Every Decision Data-Driven
      </h2>
      <p class="text-base leading-normal mt-4 text-base-500 font-medium">
        Your trusted data partner to make confident business decisions.
      </p>
    </div>

    <div
      class="relative py-12 mx-auto overflow-hidden overflow-x-hidden 2xl:max-w-screen-xl"
    >
      <div class="grid justify-between w-full">
        <div
          class="absolute inset-0 left-0 z-10 from-white via-transparent w-44 bg-gradient-to-r"
        >
        </div>
        <div
          class="absolute inset-0 left-0 z-10 ml-auto from-white via-transparent w-44 bg-gradient-to-l"
        >
        </div>
      </div>
      <div class="relative flex items-center gap-2 whitespace-nowrap t">
        <span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Contextual Understanding
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Data driven
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Personalized Experience
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Actionable
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Intelligent Analytics
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Automated
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Transparent Reporting
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Efficient
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Unified
        </span>
      </div>
    </div>
    <div
      class="grid grid-cols-2 text-center gap-x-6 gap-y-12 lg:grid-cols-3 lg:gap-y-16 pt-12"
    >
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            class="icon icon-tabler icons-tabler-outline icon-tabler-filter mx-auto"
            width="21"
            height="21"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.5063 15.2716H15.3397M10.3397 15.2716H11.173M6.17301 15.2716H7.00635M2.00635 16.9382C2.00635 17.3803 2.18194 17.8042 2.4945 18.1167C2.80706 18.4293 3.23099 18.6049 3.67301 18.6049H17.0063C17.4484 18.6049 17.8723 18.4293 18.1849 18.1167C18.4974 17.8042 18.673 17.3803 18.673 16.9382V6.93823L12.8397 11.1049V6.93823L7.00635 11.1049V3.6049C7.00635 3.16287 6.83075 2.73895 6.51819 2.42639C6.20563 2.11383 5.78171 1.93823 5.33968 1.93823H3.67301C3.23099 1.93823 2.80706 2.11383 2.4945 2.42639C2.18194 2.73895 2.00635 3.16287 2.00635 3.6049V16.9382Z"
              stroke="#3265FF"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium"
            >
              Built for Every Industry
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Insights that fit your industry: supply chain, shipping, solar, and
            more.
          </p>
        </div>
      </div>
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            class="icon icon-tabler icons-tabler-outline icon-tabler-filter mx-auto"
            width="21"
            height="21"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.8398 8.60514V6.93848C17.8395 6.64621 17.7624 6.35915 17.6161 6.10611C17.4699 5.85307 17.2596 5.64295 17.0065 5.49681L11.1732 2.16348C10.9198 2.0172 10.6324 1.94019 10.3398 1.94019C10.0473 1.94019 9.75988 2.0172 9.50651 2.16348L3.67318 5.49681C3.42006 5.64295 3.20983 5.85307 3.06356 6.10611C2.9173 6.35915 2.84014 6.64621 2.83984 6.93848V13.6051C2.84014 13.8974 2.9173 14.1845 3.06356 14.4375C3.20983 14.6905 3.42006 14.9007 3.67318 15.0468L9.50651 18.3801C9.75988 18.5264 10.0473 18.6034 10.3398 18.6034C10.6324 18.6034 10.9198 18.5264 11.1732 18.3801L12.8398 17.4301M6.58984 3.83024L14.0898 8.12191M3.08154 6.10522L10.3399 10.2719M10.3399 10.2719L17.5982 6.10522M10.3399 10.2719L10.3398 18.6052M17.2315 14.6636L18.6732 16.1052M17.8398 13.1886C17.8398 14.3392 16.9071 15.2719 15.7565 15.2719C14.6059 15.2719 13.6732 14.3392 13.6732 13.1886C13.6732 12.038 14.6059 11.1052 15.7565 11.1052C16.9071 11.1052 17.8398 12.038 17.8398 13.1886Z"
              stroke="#3265FF"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium"
            >
              No Expertise Needed
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Ask questions, get answers. No SQL or technical know-how required.
          </p>
        </div>
      </div>
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            class="icon icon-tabler icons-tabler-outline icon-tabler-filter mx-auto"
            width="21"
            height="21"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.673 6.10522L11.5897 13.1886L7.42301 9.02189L2.00635 14.4386M18.673 6.10522H13.673M18.673 6.10522V11.1052"
              stroke="#3265FF"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>

          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium"
            >
              Scale at Your Pace
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Start simple, grow smarter. Insights that expand with your business.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
