<section id="why-insifi">
  <div class="px-8 py-20 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center max-w-2xl mx-auto lg:text-balance">
      <p class="text-sm leading-normal font-bold uppercase text-accent-600">
        Why INSIFI
      </p>
      <h2
        class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4 font-medium text-base-900 lg:text-balance"
      >
        Make Every Decision Data-Driven
      </h2>
      <p class="text-base leading-normal mt-4 text-base-500 font-medium">
        Your trusted data partner to make confident business decisions.
      </p>
    </div>

    <div
      class="relative py-12 mx-auto overflow-hidden overflow-x-hidden 2xl:max-w-screen-xl"
    >
      <div class="grid justify-between w-full">
        <div
          class="absolute inset-0 left-0 z-10 from-white via-transparent w-44 bg-gradient-to-r"
        >
        </div>
        <div
          class="absolute inset-0 left-0 z-10 ml-auto from-white via-transparent w-44 bg-gradient-to-l"
        >
        </div>
      </div>
      <div class="relative flex items-center gap-2 whitespace-nowrap t">
        <span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Contextual Understanding
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Data driven
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Personalized Experience
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Actionable
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Intelligent Analytics
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Automated
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Transparent Reporting
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Efficient
        </span><span
          class="inline-flex items-center font-medium relative text-base-700 bg-base-50 px-4 py-1.5 text-sm rounded-lg"
        >
          Unified
        </span>
      </div>
    </div>
    <div
      class="grid grid-cols-2 text-center gap-x-6 gap-y-12 lg:grid-cols-3 lg:gap-y-16 pt-12"
    >
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            class="icon icon-tabler icons-tabler-outline icon-tabler-filter mx-auto"
            width="33"
            height="33"
            viewBox="0 0 33 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M23.0063 24.2716H24.3397M16.3397 24.2716H17.673M9.67301 24.2716H11.0063M3.00635 26.9382C3.00635 27.6455 3.2873 28.3238 3.7874 28.8239C4.28749 29.3239 4.96577 29.6049 5.67301 29.6049H27.0063C27.7136 29.6049 28.3919 29.3239 28.892 28.8239C29.3921 28.3238 29.673 27.6455 29.673 26.9382V10.9382L20.3397 17.6049V10.9382L11.0063 17.6049V5.6049C11.0063 4.89766 10.7254 4.21938 10.2253 3.71928C9.7252 3.21918 9.04693 2.93823 8.33968 2.93823H5.67301C4.96577 2.93823 4.28749 3.21918 3.7874 3.71928C3.2873 4.21938 3.00635 4.89766 3.00635 5.6049V26.9382Z"
              stroke="#3265FF"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium"
            >
              Built for Every Industry
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Insights that fit your industry: supply chain, shipping, solar, and
            more.
          </p>
        </div>
      </div>
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            class="icon icon-tabler icons-tabler-outline icon-tabler-filter mx-auto"
            width="33"
            height="33"
            viewBox="0 0 33 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M28.3398 13.6051V10.9384C28.3394 10.4708 28.2159 10.0115 27.9819 9.60664C27.7479 9.20178 27.4115 8.86558 27.0065 8.63176L17.6732 3.29843C17.2678 3.06438 16.8079 2.94116 16.3398 2.94116C15.8717 2.94116 15.4119 3.06438 15.0065 3.29843L5.67318 8.63176C5.26819 8.86558 4.93182 9.20178 4.69779 9.60664C4.46377 10.0115 4.34032 10.4708 4.33984 10.9384V21.6051C4.34032 22.0727 4.46377 22.532 4.69779 22.9369C4.93182 23.3417 5.26819 23.6779 5.67318 23.9118L15.0065 29.2451C15.4119 29.4791 15.8717 29.6024 16.3398 29.6024C16.8079 29.6024 17.2678 29.4791 17.6732 29.2451L20.3398 27.7251M10.3398 5.96525L22.3398 12.8319M4.72656 9.60522L16.3399 16.2719M16.3399 16.2719L27.9532 9.60522M16.3399 16.2719L16.3398 29.6052M27.3665 23.2986L29.6732 25.6053M28.3398 20.9386C28.3398 22.7795 26.8475 24.2719 25.0065 24.2719C23.1656 24.2719 21.6732 22.7795 21.6732 20.9386C21.6732 19.0976 23.1656 17.6052 25.0065 17.6052C26.8475 17.6052 28.3398 19.0976 28.3398 20.9386Z"
              stroke="#3265FF"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium"
            >
              No Expertise Needed
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Ask questions, get answers. No SQL or technical know-how required.
          </p>
        </div>
      </div>
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            class="icon icon-tabler icons-tabler-outline icon-tabler-filter mx-auto"
            width="33"
            height="33"
            viewBox="0 0 33 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M29.673 9.60522L18.3397 20.9386L11.673 14.2719L3.00635 22.9386M29.673 9.60522H21.673M29.673 9.60522V17.6052"
              stroke="#3265FF"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium"
            >
              Scale at Your Pace
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Start simple, grow smarter. Insights that expand with your business.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
