<section id="intelligence">
  <div class="px-8 py-20 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="text-center max-w-2xl mx-auto lg:text-balance">
      <p class="text-sm leading-normal font-bold uppercase text-accent-600">
        Intelligence
      </p>
      <h2
        class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4 font-medium text-base-900 lg:text-balance"
      >
        Built to Empower with AI Agents
      </h2>
      <p class="text-base leading-normal mt-4 text-base-500 font-medium">
        These smart agents do the heavy lifting so that you don’t have to look
        into the mess of the data to find your answers ever again.
      </p>
    </div>

    <div
      class="grid grid-cols-2 text-center gap-x-6 gap-y-12 lg:grid-cols-3 lg:gap-y-16 pt-12"
    >
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            class="icon icon-tabler icons-tabler-outline icon-tabler-filter mx-auto"
            width="33"
            height="33"
            viewBox="0 0 33 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.4596 12.2719C12.7731 11.3808 13.3918 10.6294 14.2062 10.1507C15.0206 9.67209 15.9782 9.49713 16.9092 9.65683C17.8402 9.81653 18.6847 10.3006 19.2931 11.0232C19.9014 11.7459 20.2344 12.6606 20.233 13.6052C20.233 16.2719 16.233 17.6052 16.233 17.6052M16.3397 22.9384H16.353M10.873 26.9385C13.4178 28.2439 16.3451 28.5975 19.1275 27.9355C21.9099 27.2736 24.3644 25.6396 26.0487 23.3281C27.733 21.0165 28.5362 18.1794 28.3138 15.328C28.0913 12.4766 26.8578 9.79846 24.8354 7.77609C22.8131 5.75372 20.1349 4.52017 17.2835 4.29772C14.4321 4.07527 11.595 4.87856 9.28344 6.56283C6.97191 8.24709 5.33794 10.7016 4.67598 13.484C4.01402 16.2664 4.3676 19.1937 5.67301 21.7385L3.00635 29.6052L10.873 26.9385Z"
              stroke="#3265FF"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium"
            >
              NL to SQL
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Simply ask a question in plain language, no SQL. The agent
            transforms your query behind the scenes, instantly.
          </p>
        </div>
      </div>
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            class="icon icon-tabler icons-tabler-outline icon-tabler-filter mx-auto"
            width="33"
            height="33"
            viewBox="0 0 33 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.00635 12.2717C9.21549 12.2717 11.0063 10.4809 11.0063 8.27173C11.0063 6.06259 9.21549 4.27173 7.00635 4.27173C4.79721 4.27173 3.00635 6.06259 3.00635 8.27173C3.00635 10.4809 4.79721 12.2717 7.00635 12.2717ZM7.00635 12.2717V21.6051C7.00635 22.3123 7.2873 22.9906 7.7874 23.4907C8.28749 23.9908 8.96577 24.2717 9.67301 24.2717H16.3397M16.3397 8.27173H23.0063C23.7136 8.27173 24.3919 8.55268 24.892 9.05278C25.3921 9.55287 25.673 10.2312 25.673 10.9384V20.2717M16.3397 8.27173L20.3397 12.2717M16.3397 8.27173L20.3397 4.27173M25.673 20.2717C23.4639 20.2717 21.673 22.0626 21.673 24.2717C21.673 26.4809 23.4639 28.2717 25.673 28.2717C27.8822 28.2717 29.673 26.4809 29.673 24.2717C29.673 22.0626 27.8822 20.2717 25.673 20.2717ZM16.3397 24.2717L12.3397 20.2717M16.3397 24.2717L12.3397 28.2717"
              stroke="#3265FF"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium"
            >
              Interpret
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Purpose-built agents analyze your question, locate the most relevant
            data, and deliver direct answers fast.
          </p>
        </div>
      </div>
      <div>
        <div class="flex flex-col gap-3 text-accent-600">
          <svg
            class="icon icon-tabler icons-tabler-outline icon-tabler-filter mx-auto"
            width="33"
            height="33"
            viewBox="0 0 33 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M28.6197 21.4585C27.7715 23.4645 26.4448 25.2321 24.7556 26.6069C23.0664 27.9817 21.0661 28.9217 18.9296 29.3449C16.7932 29.768 14.5856 29.6614 12.4999 29.0342C10.4142 28.4071 8.5139 27.2786 6.96509 25.7474C5.41628 24.2162 4.26615 22.3288 3.61524 20.2504C2.96434 18.172 2.83248 15.9658 3.23119 13.8247C3.62991 11.6835 4.54706 9.67267 5.90246 7.96787C7.25786 6.26307 9.01024 4.91626 11.0064 4.04517M28.3397 16.2716C29.0757 16.2716 29.6797 15.673 29.6064 14.941C29.299 11.8798 27.9425 9.01922 25.7668 6.84405C23.5911 4.66888 20.7302 3.313 17.669 3.00629C16.9357 2.93296 16.3384 3.53695 16.3384 4.27295V14.9396C16.3384 15.2932 16.4789 15.6324 16.7289 15.8824C16.979 16.1325 17.3181 16.273 17.6717 16.273L28.3397 16.2716Z"
              stroke="#3265FF"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <div>
            <h3
              class="text-base leading-normal sm:text-lg md:text-xl text-base-900 font-medium"
            >
              Visualise
            </h3>
          </div>
        </div>
        <div>
          <p class="text-base leading-normal mt-2 text-base-500 font-medium">
            Consume results easily with auto-generated charts, tables, and
            graphs tailored to your business story.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
