---
import OptimizedImage from "../../layouts/utilities/OptimizedImage.astro";
---

<section id="solution">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="text-center mb-14">
      <p class="text-sm leading-normal font-bold uppercase text-accent-600">
        SOLUTION
      </p>
      <h2
        class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4 font-medium">
        Packed with power of data
      </h2>
      <p class="mt-4 text-lg max-w-xl mx-auto text-base-500">
        Leverage the superpower of instant insights to reduce time to critical business decisions.
      </p>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div class="lg:order-last">
        <h2
          class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4 font-medium text-base-900">
          Explore Freely
        </h2>
        <p class="text-base leading-normal mt-4 text-base-500 font-medium">
          Explore your data conversationally, find answers in real time, and understand what’s driving business.
        </p>
      </div>
      <div class="lg:col-span-2">
        <div class="p-5 rounded-2xl">
          <OptimizedImage
            src="/data-1.png"
            alt="#_"
            width={900}
            height={500}
            loading={"eager"}
            fetchpriority="high"
            class="relative w-full ring-4 ring-base-50 border border-base-200 lg:rounded-2xl object-cover rounded"
          />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div class="lg:order-last">
        <h2
          class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4 font-medium text-base-900">
          Monitor Continuously
        </h2>
        <p class="text-base leading-normal mt-4 text-base-500 font-medium">
          Track business-critical metrics over time, set up recurring checks, and never miss a trend or outlier.
        </p>
      </div>
      <div class="lg:col-span-2">
        <div class="p-5 rounded-2xl">
          <OptimizedImage
            src="/data-2.png"
            alt="#_"
            width={900}
            height={500}
            loading={"eager"}
            fetchpriority="high"
            class="relative w-full ring-4 ring-base-50 border border-base-200 lg:rounded-2xl object-cover rounded"
          />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div class="lg:order-last">
        <h2
          class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4 font-medium text-base-900">
          Detect Early
        </h2>
        <p class="text-base leading-normal mt-4 text-base-500 font-medium">
          Spot anomalies before they become issues and get instant notifications about what demands attention.
        </p>
      </div>
      <div class="lg:col-span-2">
        <div class="p-5 rounded-2xl">
          <OptimizedImage
            src="/data-3.png"
            alt="#_"
            width={900}
            height={500}
            loading={"eager"}
            fetchpriority="high"
            class="relative w-full ring-4 ring-base-50 border border-base-200 lg:rounded-2xl object-cover rounded"
          />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div class="lg:order-last">
        <h2
          class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4 font-medium text-base-900">
          Forecast Confidently
        </h2>
        <p class="text-base leading-normal mt-4 text-base-500 font-medium">
          Predicts results and trends to pre-empt risks and seize opportunities based on your business reality.
        </p>
      </div>
      <div class="lg:col-span-2">
        <div class="p-5 rounded-2xl">
          <OptimizedImage
            src="/data-4.png"
            alt="#_"
            width={900}
            height={500}
            loading={"eager"}
            fetchpriority="high"
            class="relative w-full ring-4 ring-base-50 border border-base-200 lg:rounded-2xl object-cover rounded"
          />
        </div>
      </div>
    </div>
  </div>
</section>
