<section class="bg-blue-600 py-20 text-white" id="how-it-works">
  <div class="max-w-7xl mx-auto px-8 md:px-12 lg:px-24">
    <div class="text-center mb-14">
      <p class="text-sm leading-normal font-bold uppercase text-white">
        HOW IT WORKS
      </p>
      <h2
        class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4 font-medium text-white">
        Instant Insights in just 3 Steps
      </h2>
      <p class="mt-4 text-lg text-white max-w-xl mx-auto">
        The fastest way to get clarity from your data and make decisions that drive results.
      </p>
    </div>

    <div class="grid gap-5 sm:grid-cols-2 lg:grid-cols-3">
      <div
        class="bg-white/90 text-gray-800 p-6 rounded-2xl hover:scale-[1.025] transition ease-linear">
        <h3 class="text-xl font-semibold mb-2 flex gap-3 items-center">
          <span class="text-accent-700 bg-accent-200 rounded-4xl py-1.25 px-2.25 text-xs">1</span>
          Connect to all your data
        </h3>
        <p class="text-base font-medium">
          Effortlessly connect to multiple database schemas and sources to bring insights from all systems into a single, unified view.
        </p>
      </div>

      <div
        class="bg-white/90 text-gray-800 p-6 rounded-2xl hover:scale-[1.025] transition ease-linear">
        <h3 class="text-xl font-semibold mb-2 flex gap-3 items-center">
          <span class="text-accent-700 bg-accent-200 rounded-4xl py-1.25 px-2.25 text-xs">2</span>
          Make sense of your data
        </h3>
        <p class="text-base font-medium">
          Our intelligent engine seamlessly deciphers your industry’s data, drawing precise meaning from the numbers that matter most to you.
        </p>
      </div>

      <div
        class="bg-white/90 text-gray-800 p-6 rounded-2xl hover:scale-[1.025] transition ease-linear">
        <h3 class="text-xl font-semibold mb-2 flex gap-3 items-center">
          <span class="text-accent-700 bg-accent-200 rounded-4xl py-1.25 px-2.25 text-xs">3</span>
          Curate to become accurate
        </h3>
        <p class="text-base font-medium">
          We customize the system with your sample data: the more you use, the sharper and more accurate your insights become.
        </p>
      </div>
    </div>
  </div>
</section>
