---
import OptimizedImage from "../../layouts/utilities/OptimizedImage.astro";
---

<header
  class="border-b border-black/5 sticky top-0 z-50 bg-white/40 backdrop-blur-2xl">
  <div class="w-full mx-auto px-8 max-w-7xl lg:px-16">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full py-5 mx-auto lg:items-center lg:justify-between lg:flex-row lg:px-6">
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a href="/" class="text-black inline-flex items-center gap-3">
          <OptimizedImage width={40} src="/logo.svg" alt="logo" />
          <span>INSIFI</span>
        </a>
      </div>
      <nav
        :class="{'h-auto': open, 'h-0': !open}"
        id="main-navigation"
        class="flex-col items-center flex-grow gap-4 lg:gap-8 flex overflow-hidden lg:pb-0 lg:flex lg:justify-end lg:h-auto lg:flex-row">
        <a
          class="text-sm text-black transition duration-300 hover:text-blue-600 lg:ml-auto"
          href="/#intelligence">
          Intelligence
        </a>
        <a
          href="/#solution"
          class="text-sm text-black transition duration-300 hover:text-blue-600 relative">
          Solution
        </a>
        <a
          href="/#how-it-works"
          class="text-sm text-black transition duration-300 hover:text-blue-600 relative">
          How it works
        </a>

        <a
          href="/#why-insifi"
          class="text-sm text-black transition duration-300 hover:text-blue-600 relative">
          Why Insifi 
        </a>

        <div class="inline-flex items-center gap-2 list-none py-px lg:ml-auto">
          <a
            href="https://solar.insifi.ai/"
            class="flex items-center justify-center transition-all duration-200 ring-1 focus:ring-2 ring-accent-700 focus:outline-none text-base-50 bg-accent-600 hover:bg-accent-700 focus:ring-base-500/50 h-8 px-4 py-2 text-xs font-medium rounded-md">
            Try Demo
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>
